[submodule "Submodules/xcconfig"]
	path = Submodules/xcconfig
	url = https://github.com/macmade/xcconfig.git
[submodule "Submodules/cgl"]
	path = Submodules/cgl
	url = https://github.com/macmade/cgl.git
[submodule "Submodules/uncrustify-build"]
	path = Submodules/uncrustify-build
	url = https://github.com/macmade/uncrustify-build.git
